:host-context(.hide-table-header) ::ng-deep {
	grid-template-rows: auto 70px;
}

:host-context(.hide-table-footer) ::ng-deep {
	grid-template-rows: 70px auto;
}

:host-context(.only-table-content) ::ng-deep {
	grid-template-rows: 0 auto 0;
}