@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

:host-context(ngx-flexi-table) ::ng-deep {
	display: grid;
	grid-template-rows: 70px auto 70px;
	min-width: 700px;
	border: 1px solid #dedede;

	* {
		font-family: 'Rubik', sans-serif;
	}
		
	.flexi-table-header {
		display: grid;
		grid-template-columns: 1fr 2.5fr minmax(0, 1.5fr);
		align-items: center;

		.table-caption-container {
			display: grid;
			align-items: center;
			width: 100%;
			height: 100%;
			
			.table-caption {}
		}

		.caption-container-border {
			border-right: 1px solid #dedede;
		}

		.table-exporter {

			.export-options {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 6px;
				justify-content: center;
				align-items: center;
				padding: 0 20px;

				.export-button {
					cursor: pointer;
				}
			}
		}

		.table-filter {
			display: grid;
			align-items: center;
			width: 100%;
			height: 100%;
			border-left: 1px solid #dedede;

			.filter-container {
				display: grid;
				padding: 6px 20px;

				.filter-input-container {
					display: grid;
					grid-template-columns: 1fr 4fr;

					.filter-input-icon {
						display: grid;
						justify-content: center;
						align-items: center;
					}

					.filter-input {
						padding: 4px;
					}
				}
				.filter-select {
					margin-top: 6px;

					.filter-option {} 
				}
			}
		}
	}

	.flexi-table-content {
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;

		.table {
			display: grid;

			.table-head {

				.table-head-row-container {

					.head-row {
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						padding: 5px;
						height: 50px;

						.table-head-cell {
							display: flex;
							flex: 1 1 150px;
							flex-direction: column;
							justify-content: center;
							height: 100%;
							padding: 5px 10px;
							// border-right: 1px solid #dedede;

							.head-cell {
								cursor: pointer;
							}

							.text {}

							.checkbox-container {
								
								.checkbox {
									cursor: pointer;
								}

								.checkbox:disabled {
									cursor: not-allowed;
								}
							}

							.column-filter-container {
								.column-filter {}
							}

							.input-container {
								grid-area: ngx-checkbox;
								display: grid;

								.input {}
							}
						}

						.table-head-cell:last-child {
							border-right: unset;
						}

						.row-detail-table-head-cell {
							max-width: 20px;
						}
					}
				}
			}

			.table-body {

				.table-body-group-container {

					.body-group {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						height: 40px;
						padding: 5px;
						background-color: #dedede;

						.group-info {
							display: flex;
							flex-direction: row;
							padding: 5px 10px;

							.group-name {
								text-transform: capitalize;
								padding-right: 10px;
								cursor: pointer;
							}

							.group-value {}
						}

						.group-toggle-options {
							padding: 5px 10px;

							.group-toggle {
								display: flex;
								cursor: pointer;
								width: 20px;
								height: auto;
							}

							.group-toggle-open {}

							.group-toggle-closed {}
						}
					}
				}

				.table-body-row-container {

					.body-row {
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						height: 40px;
						padding: 5px;
						border-bottom: 1px solid #dedede;
						cursor: pointer;

						.table-body-cell {
							display: flex;
							flex: 1 1 150px;
							flex-direction: column;
							justify-content: center;
							height: 100%;
							padding: 5px 10px;
							// border-right: 1px solid #dedede;
							
							.body-cell {}

							.text {}

							.svg {
								display: flex;
								justify-content: center;
								cursor: pointer;

								svg {
									width: 20px;
									height: auto;
								}
							}

							.checkbox-container {

								.checkbox {
									cursor: pointer;
								}
							}
						}

						.table-body-cell:last-child {
							border-right: unset;
						}

						.row-detail-table-body-cell {
							max-width: 20px;
						}
					}

					.body-row-border-top-add {
						border-top: 1px solid #dedede;
					}
	
					.body-row-border-bottom-remove {
						border-bottom: 0px solid #dedede;
					}

					.body-row-details {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: left;
						padding: 0px;
						background-color: #eee;
						border-bottom: 0px solid #dedede;
						
						.row-detail-pair {
							display: flex;
							flex-direction: row;
							padding: 1px 15px;

							.row-detail-key {
								padding-right: 10px;
								font-weight: 500;
							}

							.row-detail-value {}
						}

						.row-detail-pair:nth-child(1) {
							padding-top: 10px;
						}

						.row-detail-pair:last-child {
							padding-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.flexi-table-footer {
		display: grid;

		.table-pager {
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			width: 100%;
			height: 100%;

			.total-records {
				align-items: center;
				padding-left: 20px;
			}

			.pager-ul {
				display: grid;
				grid-auto-flow: column;
				justify-content: end;
				padding-right: 20px;
				list-style: none;

				.pager-li {
					width: 22px;

					.li-item {}

					.li-a {} 
				}
			}
		}
	}

	// .flexi-table-header {
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: space-between;
	// 	align-items: center;
	// 	border: 1px solid #999;
	// 	border-bottom: unset;

	// 	.flexi-table-caption {
	// 		padding: 8px;
	// 		text-align: left;
	// 		font-weight: bold;
	// 	}

	// 	.filter {
	// 		padding: 8px;

	// 		.search-container {
	// 			display: flex;
	// 			flex-direction: row;
	// 			justify-content: space-between;
	// 			align-items: center;
	// 		}
	// 	}
	// }

	// .table {
	// 	display: table;
	// 	width: 100%;
	// 	border: 1px solid #999;
	// 	border-collapse: collapse;
	// 	overflow-x: auto;

	// 	.table-head {
	// 		display: table-header-group;
	// 		border: 1px solid #999;

	// 		.table-head-row {
	// 			display: table-row;
	// 			height: 60px;

	// 			.table-head-cell {
	// 				display: table-cell;
	// 				text-align: left;
	// 				padding: 8px;
	// 				font-weight: bold;
	// 				vertical-align: middle;
						
	// 				.header-cell-checkbox-container {

	// 					.header-cell-checkbox {
	// 						cursor: pointer;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}

	// 	.table-body {
	// 		display: table-row-group;

	// 		.table-body-group {
	// 			position: relative;
	// 			display: table-row;
	// 			height: 50px;

	// 			.table-body-group-row {
	// 				position: absolute;
	// 				display: flex;
	// 				align-items: center;
	// 				text-align: left;
	// 				width: 100%;
	// 				height: 50px;
	// 				padding-left: 8px;

	// 				.group-row-name {
	// 					padding-right: 8px;
	// 					text-transform: capitalize;
	// 				}
	// 			}
	// 		}

	// 		.table-body-row {
	// 			display: table-row;
	// 			height: 50px;

	// 			.table-body-cell {
	// 				display: table-cell;
	// 				text-align: left;
	// 				vertical-align: middle;
	// 				padding: 8px;

	// 				svg {
	// 					vertical-align: middle;
	// 				}
	// 			}
	// 		}

	// 		.table-body-row:nth-child(even) {
	// 			background-color: #f2f2f2;
	// 		}

	// 		.table-body-row-details {
	// 			display: flex;
	// 			flex-direction: column;
	// 			justify-content: center;
	// 			align-items: center;
	// 			width: 100%;
	// 			padding: 10px;

	// 			.row-detail-pair {
	// 				display: flex;
	// 				flex-direction: row;
	// 				justify-content: flex-start;
	// 				align-items: center;
	// 				width: 100%;
	// 				padding: 3px 0;

	// 				.row-detail-key {
	// 					font-weight: 500;
	// 					padding-right: 5px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	// .flexi-table-footer {
	// 	border: 1px solid #999;
	// 	border-top: unset;

	// 	.export-options {
	// 		display: flex;
	// 		flex-direction: row;
	// 		flex-wrap: wrap;

	// 		.export-button {
	// 			flex: 1 0 40%;
	// 			margin: 2px 5px;
	// 		}
	// 	}

	// 	.pager {
	// 		display: flex;
	// 		flex-direction: row;
	// 		align-items: center;
	// 		justify-content: space-around;
	// 		width: 100%;
	// 		font-weight: 700;
	
	// 		.pager-ul {
	
	// 			.pager-li {
	// 				list-style-type: none;
	// 				display: inline-block;
	// 				padding-left: 5px;
	// 				padding-right: 5px;
	// 			}
	// 		}
	// 	}
	// }
}
