@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

:host-context(ngx-flexi-table) ::ng-deep {

	* {
		font-family: 'Rubik', sans-serif;
	}

	.flexi-table-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #999;
		border-bottom: unset;

		.flexi-table-caption {
			padding: 8px;
			text-align: left;
			font-weight: bold;
		}

		.filter {
			padding: 8px;

			.search-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	.table {
		display: table;
		width: 100%;
		border: 1px solid #999;
		border-collapse: collapse;
		overflow-x: auto;

		.table-head {
			display: table-header-group;
			border: 1px solid #999;

			.table-head-row {
				display: table-row;
				height: 60px;

				.table-head-cell {
					display: table-cell;
					text-align: left;
					padding: 8px;
					font-weight: bold;
					vertical-align: middle;
						
					.header-cell-checkbox-container {

						.header-cell-checkbox {
							cursor: pointer;
						}
					}
				}
			}
		}

		.table-body {
			display: table-row-group;

			.table-body-group {
				position: relative;
				display: table-row;
				height: 50px;

				.table-body-group-row {
					position: absolute;
					display: flex;
					align-items: center;
					text-align: left;
					width: 100%;
					height: 50px;
					padding-left: 8px;

					.group-row-name {
						padding-right: 8px;
						text-transform: capitalize;
					}
				}
			}

			.table-body-row {
				display: table-row;
				height: 50px;

				.table-body-cell {
					display: table-cell;
					text-align: left;
					vertical-align: middle;
					padding: 8px;

					svg {
						vertical-align: middle;
					}
				}
			}

			.table-body-row:nth-child(even) {
				background-color: #f2f2f2;
			}

			.table-body-row-details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 10px;

				.row-detail-pair {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
					// padding-left: 20px;

					.row-detail-key {
						font-weight: 500;
						padding-right: 5px;
					}
				}
			}
		}
	}

	.flexi-table-footer {
		border: 1px solid #999;
		border-top: unset;

		.export-options {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			.export-button {
				flex: 1 0 40%;
				margin: 2px 5px;
			}
		}

		.pager {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			font-weight: 700;
	
			.pager-ul {
	
				.pager-li {
					list-style-type: none;
					display: inline-block;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}

}
